.header-container{
    background-image: url(../../../public/img/2087600.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 300px;
}

.table-products{
    width: 95%;
    margin: 0 auto;
}